<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Leave List</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Leave List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Employee</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for leave in leaves %}
                    <tr>
                        <td>{{ leave.employee.name }}</td>
                        <td>{{ leave.start_date }}</td>
                        <td>{{ leave.end_date }}</td>
                        <td>{{ leave.reason }}</td>
                        <td>{{ "Approved" if leave.is_approved else "Pending" }}</td>
                    </tr>

            </tbody>
        </table>
    </div>
</body>
</html>
