<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Salary List</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Salary List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Employee</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for salary in salaries %}
                    <tr>
                        <td>{{ salary.employee.name }}</td>
                        <td>{{ salary.amount }}</td>
                        <td>{{ salary.date_paid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
